* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.5px;
}
body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* start header */

header {
  background-color: #1aa3ff;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  color: #fff;
  align-items: center;
  flex-wrap: wrap;
}
header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
header nav ul li {
  margin: 10px;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* end header */

/* start main */

main {
  display: flex;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 1;
  overflow: auto;
}

main aside {
  flex: 1 1 250px;
  padding: 15px;
  position: sticky;
  top: 0;
  background: inherit;
  container-type: inline-size;
}
main section {
  flex: 20 1 520px;
}
main aside form input,
a,
p {
  margin-left: 10px;
}
main aside form input {
  padding: 4px;
  cursor: pointer;
}
main aside form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
main aside form input[type="reset"],
input[type="search"] {
  width: calc(100% - 10px); /* margin-left */
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
main aside form p {
  padding-bottom: 10px;
}

main aside form a {
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}
main aside form a:hover {
  text-decoration: underline;
}

.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
@container (width < 50vh) {
  .filters {
    flex-direction: column;
  }    
}


.filters>* {
  flex: 1 1 fit-content;
}

p {
  color: #949494;
  text-align: justify;
}
/* end main */

/* start section */

section {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  overflow: auto;
}


/* end section */

/* start footer */

footer {
  background-color: rgb(30, 30, 92);
  text-align: center;
  padding: 20px;
}
footer p {
  color: #fff;
  text-align: center;
}

/* end footer */
