article {
  margin: 20px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 15px;
  transition: 1s;
}

article:hover {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.7);
}

article p,
img,
h3 {
  padding-bottom: 15px;
  width: 100%;
}

article img {
  width: 100%;
}
.flex form {
  display: flex;
  justify-content: space-between;
}

.btn {
  color: #fff;
  background-color: #1aa3ff;
  border-radius: 5px;
  border: none;
  padding: 7px;
  cursor: pointer;
}
